.episode-image {
    display: flex;
    align-items: flex-end;

    &__img {
        height: 100px;
        width: 100px;
        overflow: hidden;
        margin-right: 10px;

        img {
            width: 100%;
        }
    }

    .label-input {
        flex-grow: 1;
    }
}

.audio-url{
    display: inline-block;
    width: 100%;

    .label-input {
        float: left;
        width: 86%;
    }

    button {
        margin-top: 27px;
        float: right;
    }
}

audio {
    width: 450px;
    height: 40px;
}