.xml-popup {
    position: absolute;
    background-color: rgba(0,0,0,.5);;
    height: calc(100% - 64px);
    width: 100%;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &__textArea {
        width: 90%;
        height: 90%;
    }
}