.episode-image {
    float: right;
    width: 30%;
    padding: 0 10px;

    &__img {
        overflow: hidden;
        margin-right: 10px;
        display: inline;

        img {
            width: 100%;
        }
    }

    .label-input {
        flex-grow: 1;
    }
}