@import './components/OpenFeed.scss';
@import './components/Sidebar.scss';

body {
    margin: 0;
}

.app {
    display: flex;
    font-family: 'Roboto';
}

header {
    padding: 10px 0;
    padding-left: 10px;
}

main {
    flex-grow: 1;
    height: 100vh;
}

.editor {
    height: 100vh;
    overflow-y: scroll;
    padding: 0px 15px;

    h1 {
        margin-top: 15px;
    }
}

section {
    padding: 5px 10px;
    margin: 10px 0 20px 0;
}

.feed-settings {
    label {
        margin-right: 10px;
        flex-basis: 130px;
    }

    input {
        flex-grow: 1;
        background-color: inherit;
        border: 1px solid #888;
        padding: 5px 10px;
    }

    div {
        width: 100%;
        display: flex;
        margin: 10px 0;
        align-items: center;
    }
}

.episodes {
    
}

button {
    border: none;
    padding: 8px 13px;
    margin-right: 10px;
    min-width: 60px;
}

.section-header {
    display: flex;
    align-items: center;
    cursor: pointer;

    .arrow-right {
        margin-right: 15px
    }
    .arrow-down {
        margin-right: 10px
    }
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #EEE;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

    border-left: 5px solid #EEE;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }